body {
    font-family: Arial;
    background-color: #eeeeee;
    margin: 0;
    padding: 40px;
}

.box {
    background-color: white;
    max-width: 650px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

textarea {
    width: 60%;
    height: 60px;
    padding: 10px;
    resize: none;
}

button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}